################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
usuarios.csv
/MailsEnviados/
/MailsRecibidos/
/._usuarios.csv
/CppProperties.json
/a.exe
